@using Microsoft.AspNetCore.Identity
@using OutOfNews.Extensions
@model AuthorDetailsViewModel
@inject UserManager<User> _userManager

@{
    ViewBag.Title = Model.NickName + " [Author]";
    
    var articles = Model.PaginatedArticles.GetItems();
}



<h2>«@(Model.NickName)» author profile:</h2>
<tr/>


<div class="d-flex p-0">
    <div class="d-inline-block pagination prev w-20">
        @if (Model.PaginatedArticles.HasPreviousPage)
        {
            <a asp-action="Details" asp-route-id="@(Model.PaginatedArticles.Page - 1)" class="h3 d-inline-block pagination-link">Previous page</a>
        }
    </div>
    <div class="d-inline-block pagination w-30 h3">
        Page: @Model.PaginatedArticles.Page.ToString()
    </div>
    <div class="d-inline-block pagination w-30 h3">
        From: @Model.PaginatedArticles.TotalPages.ToString()
    </div>
    <div class="d-inline-block pagination next w-20">
        @if (Model.PaginatedArticles.HasNextPage)
        {
            <a asp-action="Details" asp-route-id="@(Model.PaginatedArticles.Page + 1)" class="h3 d-inline-block pagination-link">Next page</a>
        }
    </div>
</div>

@foreach (var article in articles)
{
    var user = await _userManager.FindByIdAsync(article.AuthorId);
    @(await Html.PartialAsync("ArticlePartial", (article, user)))
}


<div class="d-flex p-0">
    <div class="d-inline-block pagination prev w-20">
        @if (Model.PaginatedArticles.HasPreviousPage)
        {
            <a asp-action="Details" asp-route-id="@(Model.PaginatedArticles.Page - 1)" class="h3 d-inline-block pagination-link">Previous page</a>
        }
    </div>
    <div class="d-inline-block pagination w-30 h3">
        Page: @Model.PaginatedArticles.Page.ToString()
    </div>
    <div class="d-inline-block pagination w-30 h3">
        From: @Model.PaginatedArticles.TotalPages.ToString()
    </div>
    <div class="d-inline-block pagination next w-20">
        @if (Model.PaginatedArticles.HasNextPage)
        {
            <a asp-action="Details" asp-route-id="@(Model.PaginatedArticles.Page + 1)" class="h3 d-inline-block pagination-link">Next page</a>
        }
    </div>
</div>
